
// Variables
$dark: #026670;
$accent: #9fedd7;
$highlight: #fef9c7;
$primary: #fce181;
$background: #edeae5;

$border: 1px solid $highlight;
$border-radius: 4px;
$gutter: 20px;
$margin: 10px;

$shadow: 5px 5px 10px #0003;
$glow: 0px 0px 10px $accent;
$height: 0px 0px 10px #0003;

$copy: 14px/18px;
$notice: 18px/32px bold;
$quote: italic;