<div class="loading-block">
  <app-loader></app-loader>
</div>
<div class="app-container">
  <div class="circle primary"><span class="dark">Ball</span></div>
  <div class="circle accent"><span class="dark">Ball</span></div>
  <div class="circle highlight"><span class="dark">Ball</span></div>
  <div class="circle dark"><span class="primary">Ball</span></div>
  <div class="cards">
  </div>
  <app-cards></app-cards>
  <router-outlet>
    <!-- Loading route -->
  </router-outlet>
  <div class="global-utilities">

  </div>
</div>