<mat-card>
<mat-card-title>
  {{title}}
</mat-card-title>
<mat-card-content>
<div class="table-grid">
    <div *ngFor="let col of dataRender; let i = index" [ngClass]="{'checked':checkList[col]}"  class="item-grid">
      <div class="head">     
          <mat-checkbox [(ngModel)]="checkList[col]" (click)="selections(col)">{{header[i]}}</mat-checkbox>
      </div>
      <span class="table-item" *ngFor="let row of dataRender[i]" (click)="selection(row)" [ngClass]="{'checked':checkList[row] || checkList[i]}">{{row}}</span>
    </div>
  
  </div>

  
</mat-card-content>
</mat-card>
