<mat-card>
<mat-card-title>
  {{title}} {{checkList}}
</mat-card-title>
<mat-card-content>
<table>
  <tbody>
    <tr *ngFor="let col of dataRender; let i = index" [ngClass]="{'checked':checkList[i]}">
      <th>        
        <label class="container">{{header[i]}}
          <input type="checkbox" [(ngModel)]="checkList[i]">
          <span class="checkmark"></span>
        </label>
      </th>
      <td *ngFor="let row of dataRender[i] ">{{row}}</td>
    </tr>
  </tbody>
</table>
</mat-card-content>
</mat-card>
