.table-grid{
  grid-gap: 15px;
}
.table-grid, .item-grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 20px 0 20px 0;
}
.item-grid{
  grid-template-rows: min-content;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 0px 10px #333;
  padding: 20px;
  font-size: 16px;
  grid-gap: 3px;
}
.item-grid .head{
  justify-self: start;
  grid-column-start: 1;
  grid-column-end: 4;
  border-bottom: 3px dotted #333;
  border-radius: 20px 20px 0 0;
}
.table-grid span {
  padding: 8px 16px;
  text-transform: capitalize;
  border-radius: 5px;
}
.table-grid span:hover, .checked, .head:hover{
  cursor: pointer;
  background-color:#633;
  font-weight: bold;
  box-shadow: 2px 2px 5px #333;
}
.selector{
  text-align: right;
  border: 0px solid #000;
}
.selector:hover{
  background-color: transparent;
  border-color: transparent;
  cursor: initial;
}
.head{
  padding: 10px 30px;
  font-size: 20px;
  text-transform: full-width uppercase;
}